<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head') %>
  <body>
    <%- include('../includes/header') %>
    <a href="/shots/new">New Shot</a>
    <h2>Latest Shots</h2>
    <p><%= shots %></p>
  </body>
  <%- include('../includes/footer') %>
</html>