<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head') %>
  <body>
    <%- include('../includes/header') %>
    <h2>Add Shots</h2>
    <form action="/shots" method="POST">
        <!-- <input type="text" name="beans" placeholder="beans" required/><br />
        <input type="text" name="machine" placeholder="machine" required/><br /> -->
        <select>
          <option>bean 1</option>
          <option>bean 2</option>
        </select><br />
        <select>
          <option>machine 1</option>
          <option>machine 2</option>
        </select><br />
        <select>
          <option>grinder 1</option>
          <option>grinder 2</option>
        </select><br />
        <input type="number" name="durationSeconds" placeholder="shot duration in seconds" required min="0" step="1" /><br />
        <input type="number" name="grindsWeightGrams" placeholder="grind weight in grams" required min="0" step="1" /><br />
        <input type="number" name="shotsWeightGrams" placeholder="weight of pulled shots in grams" required min="0" step="1" /><br />
        <input type="text" name="comments" placeholder="comments" /><br />
        <input type="checkbox" name="favorite"/><span>Favorite</span><br />
        <button>Submit</button>
    </form>
  </body>
  <%- include('../includes/footer') %>
</html>