<%- include('../includes/row-opening') %>
    <%- include('../includes/nav') %>
      <div class="col-6 col-s-9">
        <h2>Welcome ADMIN</h2>
        <p>Make admin changes</p>
      </div>
    <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>