<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="center col-6 col-s-9">
    <h2 class="subheader">Successful Submission</h2>
    <p>Thanks for submitting something for review! Admins will now see it in their submissions queue.</p>
    <p>Currently there's no system to update you when your submission has been approved/denied/modified, so...</p>
    <p>Sorry about that.</p>

  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>