<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="center col-center">
    <h2>Add Beans</h2>
    <form action="/beans" method="POST">
        <input type="text" id="brand" name="brand" placeholder="beans brand" required /><br />
        <input type="text" id="name" name="name" placeholder="beans name" required /><br />
        <button>Submit</button>
    </form>
  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>