<div class="col-right">
    <h3 style="text-align:right;margin:20px 0px 0px 0px;padding-right:5px;background-color: #d1ad49;color:#4c4a4a">Quotes</h2>
    <div class="aside-quote">
        <figure class="landing-quote-figure">
            <blockquote>
                <p class="quote-text">"I'd rather take coffee than compliments just now."</p>
            </blockquote>
            <figcaption class="quote-author">-Louisa May Alcott, <cite class="quote-citation">Little Women</cite></figcaption>
        </figure>
    </div>

    <h3 style="text-align:right;margin:20px 0px 0px 0px;padding-right:5px;background-color: #d1ad49;color:#4c4a4a">Notes</h2>
        <div class="aside-quote">
        <figure class="landing-quote-figure">
            <blockquote>
                <p class="quote-text">"I'd rather take coffee than compliments just now."</p>
            </blockquote>
        </figure>
    </div>

    <h3 style="text-align:right;margin:20px 0px 0px 0px;padding-right:5px;background-color: #d1ad49;color:#4c4a4a">GOATs</h2>
        <div class="aside-quote">
        <figure class="landing-quote-figure">
            <p class="quote-text">Tim Wendleboe (Osloe, Norway)</p>
            <p class="quote-text"><a class="link" href="/">@banana</a></p>
        </figure>
    </div>
</div>

<script src="/assets/js/randomQuote.js"></script>
