<div class="col-3 col-s-12">
    <div class="aside">
        <img src="<%= coffeePhotoLink %>" width="100%">
        <figcaption>Coffee photos provided by https://coffee.alexflipnote.dev</figcaption>
    </div>
</div>