<div class="col-right">
    <h4 class="aside-header">Quotes</h4>
    <div class="aside-quote">
        <figure class="landing-quote-figure">
            <blockquote>
                <p class="quote-text italic">"I'd rather take coffee than compliments just now."</p>
            </blockquote>
            <figcaption class="quote-author">-Louisa May Alcott, <cite class="quote-citation">Little Women</cite></figcaption>
        </figure>
    </div>

    <h4 class="aside-header">Notes</h4>
        <div class="aside-quote">
        <figure class="landing-quote-figure">
            <blockquote>
                <p class="note-text">Use 14-18 grams of coffee beans for a doble, or 7-9 grams for a single.</p>
            </blockquote>
        </figure>
    </div>

    <h4 class="aside-header">GOATs</h4>
        <div class="aside-quote">
        <figure class="landing-quote-figure">
            <p class="goat-text">Tim Wendleboe (Osloe, Norway)</p>
            <a class="goat-link" href="https://www.instagram.com/timwendelboe">@timwendelboe</a>
        </figure>
    </div>
</div>

<script src="/assets/js/randomQuote.js"></script>
<script src="/assets/js/randomNote.js"></script>
<script src="/assets/js/randomGoat.js"></script>


