<div class="col-3 col-s-12 hidden-mobile">
    <div class="aside-quote">
        <figure>
            <blockquote>
                <p>"I'd rather take coffee than compliments just now."</p>
            </blockquote>
            <figcaption>-Louisa May Alcott, <cite>Little Women</cite></figcaption>
        </figure>
    </div>
</div>