<div class="col-right">
    <div class="aside-quote">
        <figure class="landing-quote-figure">
            <blockquote>
                <p class="quote-text">"I'd rather take coffee than compliments just now."</p>
            </blockquote>
            <figcaption class="quote-author">-Louisa May Alcott, <cite class="quote-citation">Little Women</cite></figcaption>
        </figure>
    </div>
</div>

<script src="/assets/js/randomQuote.js"></script>
