<div class="col-3 col-s-12 hidden-mobile">
    <div class="aside-quote">
        <figure>
            <blockquote>
                <p>"Coffee is life."</p>
            </blockquote>
            <figcaption>-Amadeus, <cite>Somewhere</cite></figcaption>
        </figure>
    </div>
</div>