<div class="col-3 col-s-12 hidden-mobile">
    <div class="aside">
        <img class="landing-photo" src="<%= coffeePhotoLink %>">
        <figcaption>Photos provided by <a class="link" href="https://coffee.alexflipnote.dev" alt="">AlexFlipnote</a></figcaption>
    </div>
</div>