<div class="col-3 col-s-12 hidden-mobile">
    <div class="aside">
        <img src="<%= coffeePhotoLink %>">
        <figcaption>Photos provided by <a href="https://coffee.alexflipnote.dev" alt="">AlexFlipnote</a></figcaption>
    </div>
</div>