<header class="header">
    <h1>Your Best Shots</h1>
    <% if (typeof username !== 'undefined') { %>
        <p><strong><%= username %></strong> (<a href="/users/logout">log out</a>)</p>
    <% } else { %>
        <span>
            <a href="/users/new">Sign Up</a>&nbsp;&nbsp;
            <a href="/users/login">Log In</a>
        </span>
    <% } %>
</header>