<header>
    <h1>Your Best Shots</h1>

    <nav>
        <a href="/">Dashboard</a>&nbsp;|&nbsp;
        <a href="/shots">Shots</a>&nbsp;|&nbsp;
        <a href="/about">About</a>&nbsp;|&nbsp;
        <a href="/contact">Contact</a>
        <button class="btn-toggle">Toggle Dark Mode</button>
    </nav>
</header>