<header class="header">
    <h1><a href="/">Your Best Shots</a></h1>
    <span class="header-links">
        <% if (typeof username !== 'undefined') { %>
            <span class="hidden-mobile"><strong><%= username %></strong> (<a href="/users/logout">log out</a>)</span>&#32;&#32;
        <% } else { %>
            <a href="/users/new">Sign Up</a>&nbsp;&nbsp;
            <a href="/users/login">Log In</a>&nbsp;&nbsp;
        <% } %>
            <label class="switch">
                <input type="checkbox" class="check">
                <span class="slider round"></span>
            </label>
    </span>
</header>