<header class="header">
    <h1>Your Best Shots</h1>
    <% if (typeof username !== 'undefined') { %>
        <p><strong><%= username %></strong></p>
    <% } else { %>
        <p><a href="/users/login">Log In</a></p>
    <% } %>


</header>