<header class="header">
    <h1><a href="/">Your Best Shots</a></h1>
    <span class="header-links">
        <% if (typeof username !== 'undefined') { %>
            <span><p class="hidden-mobile">[<%= username %>]</p>&nbsp;&nbsp;&nbsp;<a class="link" href="/users/logout">Log Out</a></span>&nbsp;&nbsp;
        <% } else { %>
            <a href="/users/new" class="hidden-mobile link">Sign Up</a>&nbsp;&nbsp;
            <a href="/users/login" class="link">Log In</a>&nbsp;&nbsp;
        <% } %>

        <% if (typeof isAdmin !== 'undefined' && isAdmin === true) { %>
             <span class="hidden-mobile"><a href="/admin/unpublished">admin</a></span>&#32;&#32;
        <% } %>
            <label class="switch">
                <input type="checkbox" class="check">
                <span class="slider round"></span>
            </label>
    </span>
</header>