<header class="header">
    <h1>Your Best Shots</h1>
    <span class="header-links">
        <% if (typeof username !== 'undefined') { %>
            <strong><%= username %></strong> (<a href="/users/logout">log out</a>)&nbsp;&nbsp;
        <% } else { %>
            <a href="/users/new">Sign Up</a>&nbsp;&nbsp;
            <a href="/users/login">Log In</a>&nbsp;&nbsp;
        <% } %>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
    </span>
</header>