<div class="col-3 col-s-3 menu">
    <nav>
        <h3>My Stuff</h3>
        <ul>
            <li><strong><a href="/">New Shot</a></strong></li>
            <li><a href="/users/me">My Dashboard</a></li>
            <li><a href="/">Shot History</a></li>
            <li><a href="/">My Setup</a></li>
        </ul>
        <h3>Explore</h3>
        <ul>
            <li><a href="/">Global Dashboard</a></li>
            <li><a href="/">All Beans</a></li>
            <li><a href="/">All Machines</a></li>
            <li><a href="/">All Grinders</a></li>
        </ul>
        <h3>Submit For Review</h3>
        <ul>
            <li><a href="/">New Beans</a></li>
            <li><a href="/">New Machine</a></li>
            <li><a href="/">New Grinder</a></li>
        </ul>
    </nav>
</div>