<div class="col-3 col-s-3 menu">
    <nav>
        <button class="collapse-button">
            <span class="arrow">&#8675;</span>
            <span>My Stuff</span>
        </button>
        <ul class="collapse-content">
            <li><strong><a class="link" href="/shots/new">New Shot</a></strong></li>
            <li><a class="link" href="/users/me">My Dashboard</a></li>
            <li><a class="link" href="/users/me/shots">Shot History</a></li>
        </ul>
        <button class="collapse-button">
            <span class="arrow">&#8675;</span>
            <span>Explore</span>
        </button>        
        <ul class="collapse-content">
            <li><a class="link" href="/development">Global Dashboard</a></li>
            <li><a class="link" href="/development">All Beans</a></li>
            <li><a class="link" href="/development">All Machines</a></li>
            <li><a class="link" href="/development">All Grinders</a></li>
        </ul>
        <button class="collapse-button">
            <span class="arrow">&#8675;</span>
            <span>Submit for Review</span>
        </button>        
        <ul class="collapse-content">
            <li><a class="link" href="/beans/new">New Beans</a></li>
            <li><a class="link" href="/machines/new">New Machine</a></li>
            <li><a class="link" href="/grinders/new">New Grinder</a></li>
        </ul>
    </nav>
</div>