<div class="col-left menu">
    <% if (typeof username == 'undefined') { %>
        <div class="nav-replacer">&nbsp;</div>
    <% } else { %>
    <nav>
        <button class="collapse-button">
            <span class="arrow">&#8675;</span>
            <span>My Stuff</span>
        </button>
        <ul class="collapse-content">
            <li><strong><a class="link" href="/shots/new">New Shot</a></strong></li>
            <li><a class="link" href="/users/me">My Dashboard</a></li>
            <li><a class="link" href="/users/me/shots">Shot History</a></li>
        </ul>
        <button class="collapse-button">
            <span class="arrow">&#8675;</span>
            <span>Explore</span>
        </button>        
        <ul class="collapse-content">
            <li><a class="link" href="/shots/">Global Dashboard</a></li>
            <li><a class="link" href="/beans">All Beans</a></li>
            <li><a class="link" href="/machines">All Machines</a></li>
            <li><a class="link" href="/grinders">All Grinders</a></li>
            <li><a class="link" href="/search/new">Search Shots</a></li>
        </ul>
        <button class="collapse-button">
            <span class="arrow">&#8675;</span>
            <span>Submit for Review</span>
        </button>        
        <ul class="collapse-content">
            <li><a class="link" href="/beans/new">New Beans</a></li>
            <li><a class="link" href="/machines/new">New Machine</a></li>
            <li><a class="link" href="/grinders/new">New Grinder</a></li>
        </ul>
    </nav>
    <% } %>
</div>