            </div>
        </main>
        <%- include('footer') %>
        <script src="/assets/js/darkModeUpdate.js" async></script>
        <script src="/assets/js/navMenuUpdate.js" async></script>
    </body>
</html>