<nav>
    <ul class="menu">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/shots">Shots</a></li>
        <li><a href="/shots">Shots</a></li>
        <li><button class="btn-toggle">Toggle Dark Mode</button></li>
    </ul>
</nav>