<%- include('includes/row-opening') %>
    <%- include('includes/nav') %>
      <div class="center col-center">
        <h2>Sorry :(</h2>    

        <p>This page is still in development.</p> 

        <figure class="landing-quote-figure">
          <blockquote class="landing-quote">
            Hit me with your best shot <br />
            Fire awaaaaaaaaaay <br />
          </blockquote>
          <br />
          <figcaption class="landing-quote-caption">—Pat Benatar, <cite>Crimes of Passion</cite></figcaption>
        </figure>

      </div>
    <%- include('includes/aside-quote') %>
<%- include('includes/row-close') %>