<%- include('includes/row-opening') %>
    <%- include('includes/nav') %>
      <div class="center col-6 col-s-9">
        <h2 class="subheader">Drink Better Coffee</h2>    

        <p><strong>Your Best Shots</strong> is an espresso journaling platform designed to help you pull your ideal shots <i>every</i> time.</p> 
        <p>When you need to dial in your shots on a new machine, or with a new bag of beans, just enter all the relevant details here for safekeeping.</p>
        <p>Stop trying to memorize every tiny tweak you make, and focus on enjoying your coffee!</p>

        <p><a href="/users/new" class="new-shot-link">Sign Up</a> or <a href="/users/login" class="new-shot-link">Log In</a></p>
        <br />

        <figure class="landing-quote-figure">
          <blockquote class="landing-quote">
            Hit me with your best shot <br />
            Fire awaaaaaaaaaay <br />
          </blockquote>
          <br />
          <figcaption class="landing-quote-caption">—Pat Benatar, <cite>Crimes of Passion</cite></figcaption>
        </figure>

      </div>
    <%- include('includes/aside-quote') %>
<%- include('includes/row-close') %>
