<%- include('includes/row-opening') %>
    <%- include('includes/nav') %>
      <div class="col-6 col-s-9">
        <h2>Dashboard</h2>
        <p>Better coffee, one (or two) shots at a time.</p>
      </div>
    <%- include('includes/aside') %>
<%- include('includes/row-close') %>
