<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <h1>Your Best Shots</h1>
    <p>Better coffee, one (or two) shots at a time.</p>
  </body>
  <%- include('includes/footer') %>
</html>