<%- include('includes/row-opening') %>
    <%- include('includes/nav') %>
      <div class="center col-center">
        <h2 class="subheader">Drink Better Coffee</h2>    

        <p class="main-text"><strong>Your Best Shots</strong> is an espresso journaling platform designed to help you pull your ideal shots <i>every</i> time.</p> 
        <p class="main-text">When you need to dial in your shots on a new machine, or with a new bag of beans, just enter all the relevant details here for safekeeping.</p>
        <p class="main-text">Stop trying to memorize every tiny tweak you make, and focus on enjoying your coffee!</p>

        <p class="main-text centered-text"><a href="/users/new" class="new-shot-link">Sign Up</a> or <a href="/users/login" class="new-shot-link">Log In</a></p>
        <br />

        <img class="landing-image" src="../assets/espresso.jpg">
      </div>
    <%- include('includes/aside-quote') %>
<%- include('includes/row-close') %>
