<%- include('includes/row-opening') %>
    <%- include('includes/nav') %>
      <div class="center col-6 col-s-9">
        <figure class="landing-quote-figure">
          <blockquote class="landing-quote">
            Hit me with your best shot <br />
            Fire awaaaaaaaaaay <br />
          </blockquote>
          <br />
          <figcaption class="landing-quote-caption">—Pat Benatar, <cite>Crimes of Passion</cite></figcaption>
        </figure>

        <h2>Welcome</h2>        
        
        <p>Better coffee, one (or two) shots at a time.</p>
      </div>
    <%- include('includes/aside') %>
<%- include('includes/row-close') %>