body {
    background-color:tan;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}