* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Lucida Sans", sans-serif;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.row {
  height: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.main {
  position: relative;
  display: table-row;
  background-color: #f7f6f1;
  color: #222;
  height: 100%;
}

.main-text {
  font-size: 18px;
}

.centered-text {
  text-align: center;
}

.subheader {
  color: #937031;
}

.section-underline {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #222;
  margin: -17px 0 0 0;
  padding: 0;
}

.center {
  padding: 0px 15px 30px 15px;
}

.footer {
  display: table-cell;
  background-color: #222;
  color: #fff;
  font-size: 14px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

/* ASIDE */

.aside-header {
  text-align: right;
  margin: 20px 0px 0px 0px;
  padding-right: 10px;
  background-color: #d1ad49;
  color: #4c4a4a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.aside-quote {
  background-color: #b9901d;
  padding: 15px 0px 15px 0px;
  color: #000000;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.aside-quote blockquote {
  margin: 0px;
}

.goat-text, .goat-link {
  margin:0px;
  padding:0px;
}

.goat-link:link {
  color: #000;
  text-decoration: underline;
}

.goat-link:visited {
  color: #3b3b3b;
  text-decoration: none;
}

.goat-link:hover {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

.goat-link:active {
  color: #3b3b3b;
  text-decoration: none;
}

/* LINKS */

a.link:link {
  color: #b9901d;
  text-decoration: none;
}

a.link:visited {
  color: #6e5511;
  text-decoration: none;
}

a.link:hover {
  color: #6e5511;
  text-decoration: underline;
}

a.link:active {
  color: #b9901d;
  text-decoration: underline;
}

/* LANDING PAGE */

.landing-quote-figure {
  margin: 10px 15px 10px 15px;
}

.landing-quote {
  margin: 10px 10px 0px 10px;
  font-family: cursive;
  font-weight: bold;
}

.landing-quote-caption {
  margin: 0px 10px 10px 10px;
}

.landing-image {
  width:100%;
}

/* HEADER */

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #222;
  max-height: 40px;
  width: 100%;
  padding: 0px 15px 0px 15px;
  z-index: 10;
  box-shadow: 0 0 0.5rem #00000026;
}

.header h1 {
  font-size: 1.2rem;
}

.header h1 a {
  color: inherit;
  text-decoration: none;
}

.header-links {
  display: inline-block;
}

.switch {
  position: relative;
  display: inline-block;
  padding-top: 6px;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/moonslider.png");
  background-size: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: url("/assets/sunslider.png");
  background-size: cover;
}

input:focus + .slider {
  box-shadow: 0 0 1px darkslategray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.nav-icon-container {
  display: inline-block;
  margin-right: 5px;
}

.nav-icon {
  fill: #b9901d;
  margin: 5px 5px 5px 0px;
}

.nav-icon:hover {
  fill: #6e5511;
}

.reverse {
  transform: rotate(180deg);
}

/* SIDE NAV */

.nav-replacer {
  min-height: 40px;
}

.menu {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 3px;
}

.menu li:hover {
  background-color: #eaded6;
}

.collapse-button {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 16px;
  background-color: #b9901d;
  color: #000000;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #927218;
}

.active,
.collapse-button:hover {
  color: #ffffff;
  background-color: #6e5511;
}

.collapse-content {
  font-size: 16px;
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  background-color: #ecd38f;
  transition: max-height 0.2s ease-out;
}

.collapse-content a {
  color: #4d3c0a;
}

.new-shot-link:link {
  color: #b9901d;
  font-weight: bold;
}

.new-shot-link:hover {
  color: #b9901d;
  font-weight: normal;
}

.new-shot-link:visited {
  color: #6e5511;
  font-weight: bold;
}


/* DASHBOARD AND SHOW ELEMENTS */

.dashboard-table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
  margin: 15px 0px 15px 0px;
}

.dashboard-table th,
td {
  padding: 3px;
  text-align: center;
  border-bottom: 1px solid #4f5257;
}

.shots-body tr:first-of-type {
  background-color: #eaded6;
}

.shots-table-head {
  background-color: #ecd38f;
}

.text-col {
  width: calc((100% - 55px) / 2) 
}

.dashboard-date {
  width: 70px;
}

.dashboard-user {
  width: 30%;
}

.end-col {
  width: 55px;
}

.dashboard-section-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.table-brand-spacer {
  background-color: #937031;
}

.table-brand-spacer:first-of-type {
  display: none;
}

.ratings-info {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.ratings-info .ratings-info-text {
  visibility: hidden;
  width: 120px;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 200px;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  z-index: 1;
}

.ratings-info:hover .ratings-info-text {
  visibility: visible;
}

/* FORM ELEMENTS */

.fieldset {
  padding-top: 15px;
  padding-bottom: 20px;
}

.text-input {
  height: 25px;
  font-size: 18px;
  min-width: 270px;
  border: none;
  border-bottom: 3px solid #927218;
  margin-bottom: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sign-up-req {
  margin-top: 2px;
  margin-bottom: 2px;
}

.submit-button {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  outline: #222;
  font-size: 18px;
  font-weight: bold;
  background-color: #b9901d;
  color: #222;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #927218;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.active,
.submit-button:hover {
  color: #ffffff;
  background-color: #6e5511;
}

.rating-container {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
  width: 100%;
}

.scores {
  fill: #222;
  height: 2rem;
  width: 2rem;
  margin: 0.2rem;
}

#radios label {
  position: relative;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input + svg {
  padding-top: 4px;
  cursor: pointer;
}

.rating-radio-button:hover + svg,
.rating-radio-button:checked + svg,
.rating-radio-button:focus + svg {
  fill: #b9901d;
  outline: 2px solid #b9901d;
}

.required-input {
  color: red;
}

.user-inputs {
  font-size: 18px;
  width: 100%;
}

/* DARK THEME */

.header.dark-theme {
  background-color: #1b1f22;
  color: #e9b686;
  box-shadow: none;
}

.subheader.dark-theme {
  color: rgb(220, 220, 220);
}

.section-underline.dark-theme {
  border-top: 1px solid #a3a9b2;
}

.aside.dark-theme {
  background-color: #1b1f22;
  color: #a3a9b2;
  box-shadow: none;
}

.aside.dark-theme a {
  color: white;
}

.aside-quote.dark-theme {
  background-color: #1b1f22;
  color: #a3a9b2;
  box-shadow: none;
}

.aside-header.dark-theme {
  background-color: #2e373e;
  color: #a3a9b2;
}

.goat-link.dark-theme:link {
  color: #a3a9b2;
  text-decoration: underline;
}

.goat-link.dark-theme:visited {
  color: #a3a9b2;
  text-decoration: underline;
}

.goat-link.dark-theme:hover {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

.goat-link.dark-theme:active {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

.menu.dark-theme li {
  background-color: #1b1f22;
  color: #a3a9b2;
  box-shadow: none;
}

.menu.dark-theme li:hover {
  background-color: #2e373e;
}

.main.dark-theme {
  background-color: #16181b;
  color: #a3a9b2;
  box-shadow: none;
}

.collapse-button.dark-theme {
  background-color: #1b1f22;
  color: #a3a9b2;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #a3a9b2;
}

.collapse-button.dark-theme:last-of-type {
  border-width: 1px 0px 1px 0px;
}

.collapse-button.dark-theme:hover {
  background-color: rgb(30, 37, 47);
}

.active.collapse-button.dark-theme {
  background-color: rgb(30, 37, 47);
  border-width: 1px 0px 1px 0px;
}

.collapse-content.dark-theme {
  background-color: #1b1f22;
  color: #a3a9b2;
}

.footer.dark-theme {
  background-color: #1b1f22;
  color: #a3a9b2;
}

.link.dark-theme:link {
  color: #a3a9b2;
  text-decoration: underline;
}

.link.dark-theme:visited {
  color: #a3a9b2;
  text-decoration: underline;
}

.link.dark-theme:hover {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

.link.dark-theme:active {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

.text-input.dark-theme {
  background-color: #1b1f22;
  outline: 1px solid #e9b686;
  border-color: #e9b686;
  border-bottom: none;
  color: rgb(200, 200, 200);
}

.rating-radio-button.dark-theme:hover + svg,
.rating-radio-button.dark-theme:checked + svg,
.rating-radio-button.dark-theme:focus + svg {
  fill: #e9b686;
  outline: 2px solid #e9b686;
}

.scores.dark-theme {
  fill: rgb(200, 200, 200);
}

.submit-button.dark-theme {
  outline: rgb(250, 203, 159);
  background-color: #e9b686;
  color: #222;
  border-color: rgb(250, 203, 159);
}

.submit-button.dark-theme:hover {
  background-color: rgb(185, 139, 102);
  border-color: rgb(154, 117, 86);
  color: #fff;
}

.landing-quote-figure.dark-theme {
  background: #1b1f22;
  border-color: #2e373e;
}

.landing-photo.dark-theme {
  filter: brightness(0.8) contrast(1.2);
}

.shots-body.dark-theme tr:first-of-type {
  background-color: rgb(30, 37, 47);
}

.shots-table-head.dark-theme {
  background-color: #1b1f22;
}

.table-brand-spacer.dark-theme {
  background-color: #e9b686;
}

.new-shot-link.dark-theme:link {
  color: #e9b686;
  font-weight: bold;
}

.new-shot-link.dark-theme:hover {
  color: #e9b686;
  font-weight: normal;
}

.new-shot-link.dark-theme:visited {
  color: #e9b686;
  font-weight: bold;
}

.ratings-info.dark-theme {
  border-color: #e9b686;
}

.col-left.dark-theme {
  background-image: url("../darkcoffeebackground.png");
  background-size: cover;
}

.spillover.dark-theme {
  background-color:#16181b;
}

.nav-icon.dark-theme {
  fill: #e9b686;
}
.nav-icon.dark-theme:hover {
  fill: #ffac5f;
}

/* RESPONSIVE SIZING */

[class*="col-"] {
  width: 100%;
  float: left;
}

.col-right {
  display: none;
}

.hidden-mobile {
  display: none;
}

.nav-replacer {
  height: 20px;
}

.col-left {
  background-image: url("../coffeebackground.png");
  background-size:cover;
  min-height: 40px;
}

@media only screen and (min-width: 600px) {
  .col-left {
    width: 25%;
    max-height: none;
  }

  .col-center {
    width: 75%;
  }

  .col-right {
    display: none;
  }

  .hidden-mobile {
    display: inline-block;
  }

  .nav-icon-container {
    display: none;
  }

  .switch {
    padding-top: 0px;
  }

  .header h1 {
    font-size: 1.3rem;
  }

  .user-inputs {
    max-width: 300px;
  }
}

@media only screen and (min-width: 820px) {
  .col-center {
    width: 50%;
  }

  .col-right {
    width: 25%;
    display: inline-block;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    width: 1200px;
    margin: 0 auto;
  }

  .spillover {
    background-color: #f7f6f1;
  }
}