<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="center col-6 col-s-9">
    <h2>Log In</h2>
    <form action="/users/login" method="POST">
      <input type="text" name="username" placeholder="username" /><br />
      <input type="password" name="password" placeholder="password" /><br />
      <button>Submit</button>
    </form>
  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>