<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="center col-center">
    <h2 class="subheader">Log In</h2>
    <form action="/users/login" method="POST">
      <input class="text-input" type="text" id="username" name="username" autocomplete="username"/><br />
      <label for="username"><strong>Username</strong></label>
      <br /><br />

      <input class="text-input" type="password" id="password" name="password" autocomplete="current-password"/><br />
      <label for="password"><strong>Password</strong></label> 
      <br /><br /><br />

      <button class="submit-button">Submit</button>
    </form>
  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>