<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="center col-6 col-s-9">
    <h2>Add Machine</h2>
    <form action="/machines" method="POST">
        <input type="text" name="brand" placeholder="machine brand" required /><br />
        <input type="text" name="name" placeholder="machine name" required /><br />
        <button>Submit</button>
    </form>
  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>